.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: teal;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
  svg {
    font-size: 26px;
  }
}

.back-to-top-button.visible {
  opacity: 1;
}
